/* styles.css */
/*Version 3.3 */

body {
    color: orange;
    background-color: black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

@keyframes rotateWords {
    0% {
        transform: rotate(0deg) translateX(10rem) rotate(0deg);
        text-shadow: 2px 2px 5px rgba(255, 165, 0, 0.5); /* Orange shadow effect */
    }
    100% {
        transform: rotate(360deg) translateX(10rem) rotate(-360deg);
        text-shadow: 5px 5px 20px rgba(255, 165, 0, 0.8); /* Increase orange shadow effect for speed */
    }
}

h1, p {
    animation: rotateWords 10s linear infinite;
    position: relative; /* Needed for the shadow to move along with the text */
}